*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary-color: #27445D;
$secondary-color : #27445dd8;
$text-color: #fff;
$background-white:$text-color;


.background-color{
    background-color: $primary-color;
}

.background-header{
    background-color: $secondary-color;
}

.text-color{
    color : $text-color
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: $primary-color;    
}



.table-container 
{
    min-width: 100%;
    border: 1px solid grey;
   
    
    thead tr th{
        padding: 0.5rem;
        background-color: #27445D;
        color: white;
    }

    tbody > tr
    {
        border: 1px solid grey;
    
    }

    tbody tr{
        text-align: center;
    }
    tbody > tr> td{
        padding: 0.5rem;
    }

}