*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary-color: #27445D;
$text-color: #fff;
$background-white:$text-color;


.background-color{
    background-color: $primary-color;
}

.text-color{
    color : $text-color
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: $primary-color;    
}

